<form #form="ngForm" (submit)="onSubmit(form)" [class.submitted]="service.formSubmitted" novalidate autocpmplete ="off">
    <input type="hidden" name="id" [value]="service.formData.id">
    <div class="mb-3">
        <label> Product Name</label>
        <input class="form-control form-control-lg"
        placeholder = "Name of a product"
        #name="ngModel" name="name"
        [(ngModel)]="service.formData.name" required minlength="3" maxlength="50">
    </div>
    <div class="mb-3">
        <label> Product Description</label>
        <input class="form-control form-control-lg"
        placeholder = "Description of a product"
        #description="ngModel" name="description"
        [(ngModel)]="service.formData.description" maxlength="150">
    </div>
    <div class="row">
        <div class="mb-3 col-6">
            <label> Product Price</label>
            <input type="number" class="form-control form-control-lg"
            placeholder = "In PLN"
            #price="ngModel" name="price"
            [(ngModel)]="service.formData.price" required>
        </div>
        <div class="mb-3 col-6">
            <label> Product Code</label>
            <input class="form-control form-control-lg"
            placeholder = "Valid Code"
            #code="ngModel" name="code"
            [(ngModel)]="service.formData.code" required>
        </div>
    </div>
    <div class="d-grid"><button class="btn btn-lg btn-success" type="submit">Submit</button></div>
</form>